@page
@model LoginModel

@{
  ViewData["Title"] = "Log in";
}

<div class="row">
  <div class="col-md-4">
    <section>
      <form id="account" method="post">
        <div class="eg-container-dashed">
          <div class="eg-container-title">Login</div>
          <div class="eg-container-body text-right">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
              <label asp-for="Input.Email"></label>
              <input asp-for="Input.Email" class="form-control" />
              <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
              <label asp-for="Input.Password"></label>
              <input asp-for="Input.Password" class="form-control" />
              <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
              <div class="checkbox">
                <label asp-for="Input.RememberMe">
                  <input asp-for="Input.RememberMe" />
                  @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
              </div>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn eg-btn-primary">Log in</button>
              <a class="btn eg-btn-primary" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a>
            </div>
            <div class="form-group text-center">
              <p>
                <a class="blue" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
              </p>
              <p>
                <a class="blue" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
              </p>
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
  <div class="eg-container">
    <div class="eg-container-title">Welcome to TheCakmak!</div>
    <br />
    <div class="eg-container-body">
      <h2 class="text-center font-weight-bolder">[ Welcome to TheCakmak ]</h2>
      <p>
        TheCakmak is an online directory that connects people through social networks in the world.
      </p>
      <p>
        You can use Thefacebook for:
        <ul>
          <li>
            Search for people who match your interests
          </li>
          <li>
            Write articles on the topics you want.
          </li>
        </ul>
      </p>
      <p>
        To get started, click below to register. If you have registered before, you can login.
      </p>
    </div>
  </div>
</div>

@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}
