<footer class="border-top eg-footer text-muted">
  <div class="text-center">
    @*<a asp-area="" asp-controller="Home" asp-action="About">About</a>
    <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    <p>a EgeCakmak production</p>
    <p>&copy; 2021 - TheCakmak</p>*@

    <p class="black">
      <a class="light-blue" href="https://web.archive.org/web/20050815001235/http://www.thefacebook.com/about.php">about</a>&nbsp;&nbsp;
      <a class="light-blue" href="https://web.archive.org/web/20050815001235/http://www.thefacebook.com/contact.php">contact</a>&nbsp;&nbsp;
      <a class="light-blue" href="https://web.archive.org/web/20050815001235/http://www.thefacebook.com/policy.php">privacy</a>&nbsp;&nbsp;
      <br>
      a Ege Cakmak production
      <br>Thecakmak &copy; 2005

  </div>
</footer>